html, body {
    height: 100%;
}

body {
    margin: 0;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    flex-basis: 60px;
    border-bottom: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

#content {
    flex: 1;
    display: flex;
}

#palette {
    flex-basis: 200px;
    border-right: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

#diagram {
    flex: 1;
}
